<head>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', path='/css/base.css') }}"
    />
    <link
        href="https://fonts.googleapis.com/css?family=Lora&display=swap"
        rel="stylesheet"
    />

    {% block head %}{% endblock %}
</head>

<body>
    <div id="site_header">
        <div id="nav_bar">
            <div class="nav_bar_item">
                <a href="{{ url_for('home') }}">home</a>
            </div>
            <div class="nav_bar_item">
                <a href="{{ url_for('tasks') }}">tasks</a>
            </div>
        </div>
        <div id="nav_account">
            <div class="nav_account_item" id="sign_up">
                <a href="{{ url_for('sign_up') }}">sign up</a>
            </div>
            <div class="nav_account_item" id="sign_in">
                <a href="{{ url_for('sign_in') }}">sign in</a>
            </div>
            <div class="nav_account_item" id="sign_out">
                <a href="{{ url_for('sign_in') }}">sign out</a>
            </div>
        </div>
    </div>

    <div id="main_container">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', path='/js/base.js') }}"></script>
    {% block footer%}{% endblock %}
</body>
