{% extends "base.html" %} {% block head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', path='/css/home.css') }}"
/>
{% endblock %} {% block content %}
<div id="main_container">
    <form>
        Enter your image url to recognize objects there.
        <div class="input_item">
            Image url:
            <input id="image_input" type="text" name="image_url" />
        </div>
        <div id="image_title">Preview</div>
        <img
            id="image_field"
            src="https://avatars.mds.yandex.net/get-pdb/2491915/be6af928-1dd0-45fa-aa29-16a0bcc95b10/s1200"
        />
        <input
            type="button"
            id="send_task_button"
            value="Create task"
            onclick="sendTaskForm()"
        />
    </form>
    <div id="status_bar"></div>
</div>

<script src="{{ url_for('static', path='/js/home.js') }}"></script>
{% endblock %}
