{% extends "base.html" %} {% block head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', path='/css/sign_up.css') }}"
/>
{% endblock %} {% block content %}
<div id="main_container">
    <form>
        <div class="input_item">
            username: <input type="text" name="username" />
        </div>
        <div class="input_item">
            first name: <input type="text" name="first_name" />
        </div>
        <div class="input_item">
            last name: <input type="text" name="last_name" />
        </div>
        <div class="input_item">
            password: <input type="password" name="password" />
        </div>
        <input
            type="button"
            id="sign_up_button"
            value="Sign up"
            onclick='sendForm("/account/sign_up/")'
        />
    </form>
</div>

<script src="{{ url_for('static', path='/js/account_send_form.js') }}"></script>
{% endblock %}
