{% extends "base.html" %} {% block head %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', path='/css/tasks.css') }}"
/>
{% endblock %} {% block content %}
<div id="main_container">
    <table>
        <tr>
            <th>Url</th>
            <th>Respose</th>
            <th>Date</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><a href="{{ task.image_url }}">{{ task.image_url }}</a></td>
            <td>{{ task.response }}</td>
            <td>{{ task.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="{{ url_for('static', path='/js/home.js') }}"></script>
{% endblock %}
