:root {
    --nav-bar-height: 60px;
    --nav-bar-font-size: 20px;
    --nav-account-font-size: 18px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#site_header {
    background-color: black;
    height: var(--nav-bar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav_bar {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.nav_bar_item {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    box-sizing: border-box;
    height: 100%;
    display: flex;

    align-items: center;
    text-align: center;
    font-size: var(--nav-bar-font-size);
    font-family: "Lora", serif;
}
.nav_bar_item:hover {
    background-color: rgba(58, 56, 56, 0.788);
}
.nav_bar_item > * {
    color: white;
    text-decoration: none;
}

#nav_account {
    display: flex;
    flex-direction: row;
}
.nav_account_item {
    padding: 10px;

    font-size: var(--nav-account-font-size);
    transition-property: font-size;
    transition-duration: 0.3s;
}
.nav_account_item:hover {
    font-size: calc(var(--nav-account-font-size) + 5px);
}
.nav_account_item > * {
    text-decoration: none;
    color: yellow;
}

#main_container {
    width: 100%;
    flex: 1;
}
