#main_container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_item {
    margin: 10px;
    font-size: 18px;
}
#image_input {
    font-size: 14px;
}
#image_title {
    margin: 10px;
    font-size: 20px;
}
#image_field {
    height: 500px;
}

#send_task_button {
    margin: 10px;
    width: 100px;
    height: 50px;
}
#send_task_button:hover {
    cursor: pointer;
}
