:root {
    --input-font-size: 20px;
  }

form{
    width: 100%;
    height: 600px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_item{
    margin: 10px;
    height: 50px;
    font-size: var(--input-font-size);
}
.input_item > input{
    font-size: var(--input-font-size);
}

#sign_in_button{
    width: 120px;
    height: 40px;
    background-color: rgb(43, 189, 43);

    border-color: grey;
    border-width: 5px;
    border-radius: 20px;
}
#sign_in_button:hover{
    cursor: pointer;
}
