#main_container {
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td,
th {
    border: 1px solid #1e1d49;
    text-align: left;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: #8fa7cc;
}
